[submodule "projects/playstation-trophy-cards"]
	path = projects/playstation-trophy-cards
	url = git@github.com:robiningelbrecht/playstation-trophy-cards.git
[submodule "projects/psnprofiles-playstation-5-ui"]
	path = projects/psnprofiles-playstation-5-ui
	url = git@github.com:robiningelbrecht/psnprofiles-playstation-5-ui.git
[submodule "projects/vanilla-js-pokedex"]
	path = projects/vanilla-js-pokedex
	url = git@github.com:robiningelbrecht/vanilla-js-pokedex.git
[submodule "projects/sorting-algorithms-vanilla-js"]
	path = projects/sorting-algorithms-vanilla-js
	url = https://github.com/robiningelbrecht/sorting-algorithms-vanilla-js
[submodule "projects/fibonacci-vanilla-js"]
	path = projects/fibonacci-vanilla-js
	url = git@github.com:robiningelbrecht/fibonacci-vanilla-js.git
[submodule "projects/flippable-card-web-component"]
	path = projects/flippable-card-web-component
	url = git@github.com:robiningelbrecht/flippable-card-web-component.git
[submodule "projects/sudoku-solver-vanilla-js"]
	path = projects/sudoku-solver-vanilla-js
	url = git@github.com:robiningelbrecht/sudoku-solver-vanilla-js.git
[submodule "projects/pokemon-memory-game"]
	path = projects/pokemon-memory-game
	url = git@github.com:robiningelbrecht/pokemon-memory-game.git
[submodule "projects/drupal-dev-days-2022"]
	path = projects/drupal-dev-days-2022
	url = git@github.com:robiningelbrecht/drupal-dev-days-2022.git
