[submodule "projects/playstation-trophy-cards"]
	path = projects/playstation-trophy-cards
	url = git@github.com:robiningelbrecht/playstation-trophy-cards.git
[submodule "projects/psnprofiles-playstation-5-ui"]
	path = projects/psnprofiles-playstation-5-ui
	url = git@github.com:robiningelbrecht/psnprofiles-playstation-5-ui.git
[submodule "projects/vanilla-js-pokedex"]
	path = projects/vanilla-js-pokedex
	url = git@github.com:robiningelbrecht/vanilla-js-pokedex.git
[submodule "projects/sorting-algorithms-vanilla-js"]
	path = projects/sorting-algorithms-vanilla-js
	url = https://github.com/robiningelbrecht/sorting-algorithms-vanilla-js
[submodule "projects/fibonacci-vanilla-js"]
	path = projects/fibonacci-vanilla-js
	url = git@github.com:robiningelbrecht/fibonacci-vanilla-js.git
